@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UNIVERSITY LIBRARY MANAGEMENT SYSTEM </h1>
    <p class="lead">supports universities to build, manage, and extend their digital campus. It enables individuals, systems, and communities to interact seamlessly across campus in an environment which is efficient and gives adequate service delivery and personalized educational experiences.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

 